.Main {
    display: flex;
    flex-direction: column;

    &-Banner {
        height: 250px;
        left: 0px;
        top: 130px;
        margin: 1em;

        background: linear-gradient(253.6deg, #98D0FC 2.46%, #3481D7 93.24%);

        display: flex;
        justify-content: center;
        align-content: center;
    }

    &-BannerTitle {
        font-size: $xxxl;
        color: $First-Color;
    }

    &-BannerText {
        font-size: $m;
        color: $First-Color;
    }

    &-Searchbar {
        background: #F4F4F4;
        border-radius: 10px;

        display: flex;
        align-content: center;

        margin: 1em;
    }

    &-SearchbarIcon {

    }

    &-SearchbarText {
        font-size: $xs;
        color: #1F3F68;
        opacity: 0.6;
    }

    &-Popular {

    }

    &-PopularTitle {
        font-family: $Second-Font;
        font-size: $m;
        color: $Third-Color;
        opacity: 0.8;

    }

    &-LastArticleTitle {
        font-family: $Second-Font;
        font-size: $xxl;
        color: $Second-Font;

    }

    &-LastArticleText {
        font-size: $xs;
        opacity: 0.6;

    }

    &-PopularArticleTitle {
        font-family: $Second-Font;
        font-size: $l;
        color: $Second-Color;
        margin-top: 1em;
    }

    &-PopularArticleText {

    }
}

.Author {
    
    &-Name {
        font-family: $Second-Font;
        font-size: $xxs;
        color: $Second-Color;
    }

    &-Date {
        font-size: $xxs;
        color: $Second-Color;
        opacity: 0.4;

    }

    &-Icons {

    }

    &-More {
        font-family: $Second-Font;
        font-size: $xs;
        text-transform: uppercase;
        color: $Third-Color;
        opacity: 0.8;

        display: flex;
        justify-content: right;
    }

}

.ArticleImage {
    padding: 10px;
}