// PALETA DE COLORES

$First-Color: white;
$Second-Color: #1F3F68;
$Third-Color: #356EAD;

// FUENTES

$First-Font: Arial;
$Second-Font: Helvetica;

// FONT-SIZE

$xxl: 44px;
$xl: 36px;
$l: 28px;
$m: 20px;
$s: 18px;
$xs: 16px;
$xxs: 14px;

.Font-Bold {
    font-weight: bold;
}